# Exclude git and CI files
.git
.github

# Compiled Python
__pycache__/
__pycache__
*.pyc
*.pyo
*.pyd

# Test and development artifacts
.tox
tests/

# Node modules from the frontend
interface/node_modules/

# Other unneeded files
devcontainer.json
*.md
*.yaml
!fingerprints.yaml
*.yml
!requirements.txt
!**/requirements.txt
!services/**/Dockerfile
*.toml
!railway.toml
!pyproject.toml
!services/python.Dockerfile
