# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/

# Virtual environment directories and env files
.env
.env.*
*.env
venv/
.venv/
ENV/
env/

# IDE configuration directories
.vscode/
.idea/
*.code-workspace

# Docker artifacts
.docker/
Docker/
docker-compose.override.yml
docker-compose.*.yml
